#menu-admin{
    margin-top: 20px;
    margin-left: 20px;
    width: 26%;
    border-right: 1px solid black;
}
#menu-admin div{
    padding: 5px;
}

#menu-admin-cc{
    margin-left: 50px;
    width: 100%;
}

#menu-admin-cc ul,li{
    padding: 5px;
    cursor: pointer;
}
#menu-admin-cc i{
    margin-right: 5px;
    cursor: pointer;
    
}
#menu-admin-cc ul{
    list-style: none;
}
#thongtinchung>li{
    /* display: none; */
    width: 85%;
}
#thongtindonhang > li{
    /* display: none; */
    width: 82%;
}
.selected {
    background-color: #aeabab; /* Change this to the color you want */
    cursor: pointer;
}
.hidden {
    display: none;
}
#danhmucview{
    width: 70%;
    margin-left: 15px;
    margin-top: 20px;
}
#maloai,#tenloai,#masp,#tensp,#tenncc,#mancc,#ngaytaohdn,#mahdn,#mactkm{
    padding-top: 7px;
    padding-left: 5px;
    width: 200px;
    padding-bottom: 7px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #8d8c8c;
}
#tkLoai,#tkSP,#tkncc,#tkhdn {
    margin-left: 25%;
}
#tkLoai table{
    border: none;
}
#TkLoaiBtn,#TkspBtn,#TknccBtn,#TkhdnBtn,#TkctkmBtn{
    margin-left: 40%;
    margin-top: 10px;
    padding: 3px;
    color: white;
    background-color: rgb(42, 41, 41);
    border-radius: 5px;
    cursor: pointer;

}
#ThemLoaiBtn,#ThemspBtn,#ThemnccBtn,#ThemhdnBtn,#ThemctkmBtn{
    margin-top: 10px;
    margin-left: 70%;
    padding: 3px;
    color: white;
    background-color: rgb(42, 41, 41);
    border-radius: 5px;
    cursor: pointer;
}
#tableloai,#tablesanpham,#tablencc,#tablectkm,#tabledhchuaxn,#tabledhdaxn,#tabledhdanggiao,#tabledhdagiao,#tabledhdatra {
    /* border-collapse: collapse; */
    width: 100%;
    border: 1px solid black;
}
.tablechung{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#tableloai,#tablesanpham,#tablencc,#tabledhchuaxn,#tabledhdaxn,#tabledhdanggiao,#tabledhdagiao,#tabledhdatra >  tr, th {
    
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
#tableloai,#tablesanpham,#tablencc,#tabledhchuaxn,#tabledhdaxn,#tabledhdanggiao,#tabledhdagiao,#tabledhdatra > tr,td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
    
}
#tableloai,#tablesanpham,#tablencc th {
    background-color: #f2f2f2;
}
.tablechung i{
    margin-left: 3px;
    cursor: pointer;
}
.table-container {
    max-height: 400px; 
    overflow-y: auto; 
}