#menu-admin{
    margin-top: 20px;
    margin-left: 20px;
    width: 26%;
    border-right: 1px solid black;
}
#menu-admin div{
    padding: 5px;
}

#menu-admin-cc{
    margin-left: 50px;
    width: 100%;
}

#menu-admin-cc ul,li{
    padding: 5px;
    cursor: pointer;
}
#menu-admin-cc i{
    margin-right: 5px;
    cursor: pointer;
    
}
#menu-admin-cc ul{
    list-style: none;
}
#thongtinchung>li{
    /* display: none; */
    width: 85%;
}
#thongtindonhang > li{
    /* display: none; */
    width: 82%;
}
.selected {
    background-color: #aeabab; /* Change this to the color you want */
    cursor: pointer;
}
.hidden {
    display: none;
}
#danhmucview{
    width: 70%;
    margin-left: 15px;
    margin-top: 20px;
}
#user-menu {
    position: relative;
    display: inline-block;
}

.user-dropdown {
    /* margin-top: -20px; */
    display: none;
    width: 150px;
    height: 70px;
    padding: 5px;
    border-radius: 15px;
    position: absolute;
    margin-top: -17px;
    background-color: #fff;
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.user-dropdown li> a{
    color: rgb(218, 32, 32) !important;
}

.user-menu:hover .user-dropdown {
    display: block !important;
}
.container {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.nested-container {
    margin-left: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
}
#maloai,#tenloai,#masp,#tensp,#tenncc,#mancc,#ngaytaohdn,#mahdn,#mactkm,#mathuonghieu1,#tenthuonghieu1,#moTaloai{
    padding-top: 7px;
    padding-left: 5px;
    width: 200px;
    padding-bottom: 7px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #8d8c8c;
}
#tkLoai,#tkSP,#tkncc,#tkhdn,#tkthghieu {
    margin-left: 25%;
}
#tkLoai table{
    border: none;
}
#TkLoaiBtn,#TkspBtn,#TknccBtn,#TkhdnBtn,#TkctkmBtn,#TkThgHieuBtn{
    margin-left: 40%;
    margin-top: 10px;
    padding: 3px;
    color: white;
    background-color: rgb(42, 41, 41);
    border-radius: 5px;
    cursor: pointer;

}
#ThemLoaiBtn,#ThemspBtn,#ThemnccBtn,#ThemhdnBtn,#ThemctkmBtn{
    margin-top: 10px;
    margin-left: 70%;
    padding: 3px;
    color: white;
    background-color: rgb(42, 41, 41);
    border-radius: 5px;
    cursor: pointer;
}
#tableloai,#tablesanpham,#tablencc,#tablectkm,#tabledhchuaxn,#tabledhdaxn,#tabledhdanggiao,#tabledhdagiao,#tabledhdatra {
    /* border-collapse: collapse; */
    width: 100%;
    border: 1px solid black;
}
.tablechung{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#tableloai,#tablesanpham,#tablencc,#tabledhchuaxn,#tabledhdaxn,#tabledhdanggiao,#tabledhdagiao,#tabledhdatra >  tr, th {
    
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
#tableloai,#tablesanpham,#tablencc,#tabledhchuaxn,#tabledhdaxn,#tabledhdanggiao,#tabledhdagiao,#tabledhdatra > tr,td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
    
}
#tableloai,#tablesanpham,#tablencc th {
    background-color: #f2f2f2;
}
.tablechung i{
    margin-left: 3px;
    cursor: pointer;
}
.table-container {
    max-height: 400px; 
    overflow-y: auto; 
}