body {
    background: #fff;
    max-width: 100%;
    overflow-y: scroll;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

* {
    margin: 0px;
    padding: 0px;
}



.top-banner {
    height: 30px;
    /* line-height: 30px; */
    background-color: rgb(71, 68, 68);
    color: white;
}

.top-banner ul {
    padding-top: 2px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.top-banner li {
    margin-right: 35px;
    border-right: 1em soild white;
}

.top-banner a {
    text-decoration: none;
    color: white;
}

.banner {
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: rgb(47, 44, 44);
    line-height: 50px;
    height: 80px;
}

.logo {
    width: 20%;
    float: right;
    height: 100%;
    margin-left: 150px;
    margin-top: 0.3%;
}

.logo img {

    float: right;
    width: 90%;
}

.search-sp {
    margin-top: 1%;
    width: 40%;
    margin-left: 6%;
}

.search-sp button {
    border: none;
    width: 42.1px;
    height: 42.px;
    background-color: orange;
    color: white;
}

.search-sp input {
    line-height: 40px;
    font-size: 12px;
    /* border-radius: 7px; */
    color: grey;
    width: 320px;
}

.dangnhap-gh {
    float: left;
    margin-top: 0.1%;
}

.dangnhap-gh ul {
    list-style: none;
}

.dangnhap-gh li {
    margin-bottom: -28px;
    cursor: pointer;
}

.dangnhap-gh a {
    color: white;
    text-decoration: none;
}


nav {
    /* canh giữa cách lề mỗi bên 10% */
    margin-left: 50px;
    width: 100%;
    
}

nav {
    border-radius: 5px;
    /* bo góc */
    width: 22%;
    

}

nav ul {
    cursor: pointer;
    padding-left: 30px;
    /* padding-right: 10px; */
    width: 250px;
    margin-left: 80px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    z-index: 1000;
    color: white;
    background-color: rgb(248, 164, 9);
}

nav>ul li {
    display: none;
    list-style: none;
    
    border: 1px soild #333;
    background-color: white;
    border: 1px soild #333;
    margin-left: -31px;
    /* width: 300px; */
    width: auto;

}

/* nav :hover > li{
    display: block;
} */

nav>ul li a {
    border: 1px soild #333;
    display: block;
    padding: 0 30px;
    line-height: 50px;
    color: orange;
    text-decoration: none;
    margin-bottom: 1px soild #333;
    width: auto;
}

nav > ul li a {

    border: 1px solid #d4cfcf;
}

/* Khi hover đến li, tô màu cho thẻ a */
nav ul li:hover>a {

    opacity: .7;
    color: black;
}

/*menu con*/
/*Ẩn các menu con cấp 1,2,3*/
nav li ul {
    display: none;
    min-width: 350px;
    position: absolute;
}

/*khi hover thì hiện menu con*/
ul>li:hover > ul {
    display: block;
  }

nav>ul li>ul {
    margin-left: 250px;
    margin-top: -50px;
}

#div-login {
    /* display: none; */
    line-height: 25.6px;
    text-align: left;
    width: 100%;
    /* position: fixed; */
    height: 100%;
    z-index: 1000;
    /* background-color: rgba(5, 5, 5, 0.7); */
}
#form-login {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 1);
    line-height: 200%;
    height: 55%;
    z-index: 1000;
    
}

.gh-login {
    /* padding-left: 15%; */
    /* margin-right: 15%; */
    margin-top: 5%;
    width: 100%;
    background-color: white;
    line-height: 200%;
    flex-direction: column;
    align-items: center;
}

.gd-login input {
    display: block;
    margin-left: 20%;
    width: 450px;
    padding: 10px;
    padding-right: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;

}
.gd-login label {
    width: 100%;
    text-align: left;
    margin-left: 20%;
}

.gd-login button {
    background-color: rgb(27, 26, 26);
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
   

}

.gd-login h2 {
    margin-top: 1%;
    font: 2em sans-serif;
    margin-bottom: 3%;
    word-wrap: break-word;
    text-align: center;
}
.bottom-footer {
    margin-top: 100px;
    bottom: 0;
    top: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    /* margin-left: 5%; */
    /* margin-right: 5%; */
}

.bottom-footer ul {
    margin-left: 50px;
    list-style: none;
    line-height: 16.8px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-footer ul span {
    font-weight: bold;
}

.bottom-footer ul li {
    word-wrap: break-word;
    margin-top: 8px;
}

.bottom-footer ul li a {
    word-wrap: break-word;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 15px;
    text-decoration: none;
    color: orange;
}


