<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="shortcut icon" href="img/shortcut.png" type="image/x-icon">
    <!-- <script src="js/jquery.js"></script> -->
    <!-- <script src="js/extm.min.js"></script> -->
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="js/login.js"></script>
    <!-- <script src="js/extm.js"></script> -->
    <script src="js/TrangChu.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- <script src="js/chiTietGiay.js"></script> -->
    <link rel="stylesheet" href="css/chiTietSP_giay.css">
    <link rel="stylesheet" href="css/sanpham.css">
    <link rel="stylesheet" href="css//slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <script src="js/slick.js"></script>
    <script src="js/angular/global.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/API-JS/chitietsp.js"></script>
    <script src="js/angular/chitietsp.js"></script>
    <script src="js/API-JS/Chung.js"></script>
    <!-- <script src="js/angular/timkiem.js"></script> -->

</head>

<body ng-app="AppBanHang" ng-controller="ChitietCtrl">
    <header>
        <div class="top-banner">
            <ul>
                <li>
                    <a href="https://www.facebook.com/choibongro">
                        <i class="fa-brands fa-facebook" style="color: #f2f2f2;"></i>
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/giaybongro">
                        <i class="fa-brands fa-youtube" style="color: #eeeff2;"></i>
                        YouTube
                    </a>
                </li>
                <li>
                    <a href="https://shopee.vn/cbrvn">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Shopee
                    </a>
                </li>
                <li style="margin-right: -15px;">
                    <a href="tel:0989790787">
                        <button
                            style="border-radius:50px ; border: none; size: 15px;  background-color:rgb(71, 68, 68);">
                            <i class="fa-solid fa-phone" style="color: #eeeff2; size: 15px;"></i>
                        </button>
                        <span>0989790787</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="banner">
            <div class="logo">
                <img src="img/logo.png" alt="logo shop">
            </div>
            <div class="search-sp">
                <form action="#">
                    <div style="display: flex;">
                        <input type="hidden" name="type" value="product">
                        <form action="#" style="margin:auto;max-width:300px">
                            <input type="text" placeholder="    Nhập từ khóa sản phẩm cần tìm" name="search2">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </form>
            </div>

            <div class="dangnhap-gh">
                <ul>
                    <li>

                        <a href="login.html" id="user" style="color: white;">
                            <i class="fa-regular fa-user" style="color: #e1e2e5;"></i>
                            <span id="useracc">Đăng nhập</span>
                        </a>

                    </li>
                    <li style="margin-top: 5px;">

                        <a onclick="giohangpage()" title="Giỏ hàng">
                            <i class="fa-solid fa-bag-shopping" style="color: #f5f7fa;"></i>
                            <span>
                                Giỏ hàng / <span class="cart-price"><span><bdi>0<span>VND</span></bdi></span></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div style="background-color: rgb(27, 25, 25);width: 100%;height: 41px;">
            <nav id="menu" onclick="clickMenu()">
                <ul>
                    <i class="fa-solid fa-bars" style="margin-left: -10px;"></i>
                    <b>Danh mục sản phẩm</b>
                    <li ng-repeat="x1 in listDanhMuc">

                        <a>{{x1.tenLoai}}</a>

                        <ul>
                            <li ng-repeat="x in x1.dsth">

                                <a>{{x.tenThuongHieu}}</a>

                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
    </header>

    <div class="linkCTSP">
        <ul id="link">
            <li><a href="TrangChu.html">TRANG CHỦ </a></li>
            / <li> <a href="GiayBongRo.html">GIÀY BÓNG RỔ </a></li>

        </ul>
    </div>
    <div id="anhCTSP">
        <div class="silde" style="width: 40%; margin-top: 50px; margin-left: 100px;">

            <img class="silde-div1" id="anhgio" style="display: block;" src="{{sanpham.hinhAnhDaiien}}" alt="">

            <div class="image-list" style="display: flex;">
                <div ng-repeat="mau1 in sanpham.mau">
                        <button class="image-list_item" 
                                style="background-image: url('{{ mau1.hinhAnhModels[0].hinhanh_url }}');" 
                                onclick="chonbtn(this)">
                        </button>
                    
                </div>
                
                <!-- <div ng-repeat="mau in sanpham.mau">
                    <div class="slick-carousel" data-slick="{slidesToShow: 1, slidesToScroll: 1}">
                        <div ng-repeat="hinhanh in mau.hinhAnhModels">
                            <button class="image-list_item" style="background-image: url('{{ hinhanh.hinhanh_url }}');">

                            </button>
                        </div>
                    </div>
                </div> -->

            </div>

        </div>

        <div class="ttsp">
            <h3 id="nname-sp"> {{sanpham.tenSanPham}}</h3>
            <p style="color: #df601b;" id="prrice-sp">{{sanpham.giaBans}} đ</p>
            <ul>
                <li>Bảo hành trọn đời sản phẩm</li>
                <li>Giao hàng nhanh</li>
                <li>Tặng box cùng tất dệt kim</li>
                <li>Thông tin sản phẩm bên dưới</li>
            </ul>
            <h5>Màu sắc</h5>
            <div id="mauDiv" class="chon-size ctsp" style="display:flex ;">
                <div ng-repeat="maus in sanpham.mau" >
                    <!-- <h3>{{maus.mausac}}</h3> -->
                    <button onclick="chonsize(this,'mauDiv')" ng-click="hiensize(maus.id,maus.mausac)"
                        style="background-image: url('{{maus.hinhAnhModels[0].hinhanh_url}}') ;background-size: cover;"></button>

                </div>
            </div>
            <h5 id="div_bong4">Kích cỡ</h5>
            <!-- <div class="chon-size ctsp" id="sizeDiv">
                <button onclick="chonsize(this,'sizeDiv')" ng-repeat="size in listSize">{{size.kichThuocsp}}</button>
            </div> -->
            <div class="chon-size ctsp" id="sizeDiv">
                <button onclick="chonsize(this,'sizeDiv')"
                        ng-repeat="size in listSize"
                        ng-click="getSL(size)"
                        ng-class="{'anButton': size.soLuong <= 0 ;'clicked': sizeSelected === size.kichThuocsp}"}">
                    {{ size.kichThuocsp }}
                </button>
            </div>
            

            <div>
                <p id="solg">{{ selectedSizeQuantity }}</p>
            </div>
            <div class="item-sl">
                <button onclick="tru()">-</button>
                <input type="text" value="1" id="sl">
                <button onclick="cong()">+</button>
            </div>
            <div class="but-add" style="margin-top: -48px;" ng-disabled="isButtonDisabled">
                <button ng-click="addToCart(sanpham.maSanPham)">THÊM VÀO GIỎ HÀNG</button>
                <!-- <a href="BTL.html"><button>MUA NGAY</button></a> -->
            </div>
        </div>
    </div>


    <div class="sptt object " style="margin-top: 20px;">
        <h2>Sản phẩm tương tự</h2>
    </div>
    <div style="margin-left: 10%; width: 80%;display: flex;">

        <div id="panel">
            <div ng-repeat="x in sanpham.dsspTT">

                <div class="col-2 col-s-6"><br>
                    <div class="sanpham ">
                        <div class="img-sanpham">
                            <div class="box-img">

                                <img src="{{x.hinhAnhDaiien}}" alt="">
                            </div>

                        </div>
                        <h4 class="ten-sanpham"><a style="color: black;text-decoration: none;"
                                href="ChiTietSanPham.html?id={{x.maSanPham}}">{{x.tenSanPham}}</a></h4>
                        <p class="gia-tien">{{x.donGia}} ₫</p>
                    </div>
                </div>
            </div>

        </div>


        <!-- <button id="nextbt2" onclick="nextPage()">&gt</button> -->
    </div>


    </div>
    <div id="div-quick" onclick="dongQuickView()">
    </div>
    <footer class="bottom-footer">
        <div style="width: 25%;">
            <ul><span>THÔNG TIN CỬA HÀNG</span>

                <li>Hộ kinh doanh Giày bóng rổ – Choibongro.vn</li>
                <li>Giấy phép đăng ký kinh doanh: 01F8015621</li>
                <li>Đăng ký lần đầu ngày: 12-06-2020</li>
                <li>Địa điểm: Số 22 Ngõ 332 đường Nguyễn Trãi, Phường Thanh Xuân Trung, Quận Thanh Xuân, Thành Phố Hà
                    Nội</li>
                <li>Người đại diện: Phạm Anh Tuấn</li>
                <li>Điện thoại: 0899178993</li>
                <li>Mã số thuế: 0109376875</li>
                <li>Ngày cấp: 13-10-2020</li>
                <li>Quản lý bởi: Chi cục Thuế Quận Thanh Xuân</li>
            </ul>
        </div>
        <div style="width: 25%;">
            <ul><span>ĐỊA CHỈ CỬA HÀNG</span>
                <LI>Số 22 Ngõ 332 Nguyễn Trãi, Thanh Xuân, Hà Nội</LI>
                <li>Cửa hàng nằm trong ngõ 332 Nguyễn Trãi – ngõ cạnh trường Đại Học Khoa Học Tự Nhiên, đầu ngõ có cây
                    ATM BIDV
                </li>
                <li>
                    <div>

                    </div>
                </li>
            </ul>
        </div>

        <div style="width: 25%;">
            <ul><span>FACEBOOK FANPAGE</span></ul>
            <li>
                <div>
                    <p>
                        <iframe style="width: 80%; margin-left: 45px; margin-top: -20px;" loading="lazy"
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fchoibongro%2F&amp;tabs=timeline&amp;width=340&amp;height=800&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId"
                            frameborder="0" scrolling="no">
                        </iframe>
                    </p>
                </div>
            </li>
        </div>

        <div>
            <ul>
                <span>HƯỚNG DẪN MUA HÀNG</span>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Hướng dẫn mua hàng Freeship trên Shopee</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>

            </ul>
        </div>
    </footer>
    <script>

        // showLoginData();
        // loadSPCT();
        // loadSP_tt();
        // loadLink();
        // loadTT();
        // loadInfo();
        // // zoomSlideProduct();
        // loadImgInfo();
        // // showProducts(0);
        // $('.mainImg').extm();
        // $(document).ready(function () {
        //     $('#panel').slick({
        //         accessibility: true,
        //         arrows: true,
        //         slidesToShow: 5,
        //         appendArrows: $("#panel"),
        //         // prev arrow
        //         prevArrow: '<button type="button" data-role="none" class="slick-prev" style="z-index: 1000;left: -25px; height: 100px; opacity: 0.5;"></button>',

        //         // next arrow
        //         nextArrow: '<button type="button" data-role="none" class="slick-next" style="z-index: 1000;right: -25px;height: 100px; opacity: 0.6;"></button>',
        //         autoplay: true,
        //         autoplaySpeed: 2500,
        //         draggable: true,

        //     });
        // });
        // $(document).ready(function () {
        //     $('.image-list').slick({
        //         accessibility: true,
        //         arrows: true,
        //         slidesToShow: 4,
        //         appendArrows: $(".image-list"),
        //         // prev arrow
        //         prevArrow: '<button type="button" data-role="none" class="slick-prev" style="left: -25px; height: 30px; opacity: 0.5;width:0px !important"></button>',

        //         // next arrow
        //         nextArrow: '<button type="button" data-role="none" class="slick-next" style="right: -25px;height: 30px; opacity: 0.6;width:0px !important"></button>',
        //         // autoplay: true,
        //         autoplaySpeed: 2500,
        //         draggable: true,

        //     });
        // });
        load_user();
    </script>


</body>

</html>